<div class="well">
  <h4>Personal</h4>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-target="#worlds" data-toggle="collapse">Worlds</a>
        </h4>
      </div>
      <div id="worlds" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">Earth</li>
          <li class="list-group-item">Venus</li>
          <li class="list-group-item">Mars</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#forts">Forts</a>
        </h4>
      </div>
      <div id="forts" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">Damali</li>
          <li class="list-group-item">Black</li>
          <li class="list-group-item">Redwall</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#characters">Characters</a>
        </h4>
      </div>
      <div id="characters" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">Big Bird</li>
          <li class="list-group-item">Legolas</li>
          <li class="list-group-item">Lyra</li>
        </ul>
      </div>
    </div>
  </div>
</div>