<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand">Armok's Vault</a>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#">Download</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.paypal.me/damay" target="_blank">Donate</a></li>
                <li><a>Feedback</a></li>
                <li class="dropdown" [ngClass]="{open: beOpen === true}" (mouseenter)="doOpen()" (mouseleave)="doOpen()">
                    <a class="dropdown-toggle" role="button" style="cursor: pointer">
                        Account 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="cursor: pointer">
                        <li><a >Manage</a></li>
                        <li><a (click)="toggleModal()">Login</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal" [ngClass]="{'modal-on': modalOpen}" (click)="toggleModal()">
    
</div>
<div class="modal-content well" [ngClass]="{'modal-on': modalOpen}">
    <h3>test</h3>
    <button class="btn btn-primary" (click)="toggleModal()">close</button>
</div>