<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Vault</a>
        <div class="navbar-default">
            <ul class="nav navbar-nav" style="padding-left: 3em">
                <li><a href="#">Public</a></li>
                <li><a href="#">Private</a></li>
                <li><a href="#">Download</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Manage</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>